::selection { background: #dc2554; color:#fff; text-shadow: none; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
}

body {
  position: relative;
	background: url(../images/shattered.png) repeat;
	font-family: 'Open Sans', sans-serif;
	text-shadow: #fff 0 0.0625rem 0;
	color: #32312e;
}

a,
a:visited {
  color: #32312e;
}

a:hover,
a:focus {
  color: #dc2554;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.Container {
  position: absolute;
  border-left: 0.25rem solid #dc2554;
  padding: 0.5rem 0 0.5rem 2.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Content {
  margin-top: 2.5rem;
}

.List {
  margin: 0;
  padding: 0 0 0 1rem;
}

.List li {
  margin: 1rem 0;
}

.Header p {
	padding: 0.5rem 0;
}

.Footer {
	margin-top: 2.5rem;
	font-size: 0.8rem;
}